* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.main-content {
  flex-shrink: 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.tri-fold {
  display: flex;
}

.filler {
  flex: auto;
}

.top-band {
  height: 381px;
  background-color: hotpink;
}

.second-band {
  height: 375px;
}

.third-band {
  height: 332px;
  background-color: #E5E7EB;
}

.fourth-band {
  height: 239px;
}

.fifth-band {
  height: 52px;
  background-color: hotpink;
}

h1 {
  font-size: 24px;
  color: #F9FAF8;
  padding-left: 20px;
}

header,
footer {
  display: flex;
  color: #F9FAF8;
  background-color: hotpink;
}

header {
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding-right: 20px;
}

.welcome {
  background-color: hotpink;
  color: #E5E7EB;
  font-size: 16px;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

.hero {
  padding: 0;
}

.welcome img{
  background-color: grey;
  height: 200px;
  width: 800px;
}

h2 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 700;
  margin-top: -10px;
  margin-bottom: -10px;
}

.some-random { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 40px;
}

.some-random h3 {
  font-size: 24px;
  font-weight: 800;
  padding: 0;
  margin-bottom: 40px;
}

.info {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
  color: hotpink;
  font-size: 14px;
  font-weight: 400;
}

.card img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
  border-radius: 10px;
  margin-bottom: -10px;
}

.quote {
  flex: 1;
  background-color: #E5E7EB;
  color: hotpink;
  font-size: 32px;
  font-style: italic;
  font-weight: 200;
  padding: 40px 100px;
}

.quote .attribution {
  font-size: 16px;
  text-align: end;
  font-style: normal;
  font-weight: bold;
}

.call-to-action {
  margin: 40px 40px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 40px 48px;
  color: #F9FAF8;
  background-color: #3882F6;
}

.call-to-action h5 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 0;
}

.call-to-action .container p {
  color: #E5E7EB;
}

.call-to-action button {
  flex-shrink: 0;
  border: solid 2px #F9FAF8;
  margin: 16px;
  padding: 10px 24px;
}

footer {
  height: 52px;
  justify-content: center;
  color:#E5E7EB;
}

button {
  color: #F9FAF8;
  font-size: 16px;
  font-weight: 600;
  background-color: #3882F6;
  border-radius: 10%;
  padding: 10px 14px;
  border-style: none;
  outline-style: none;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  font-weight: 300;
  color: #E5E7EB;
}
